In [134]:
import pandas as pd
import random
import numpy as np

In [135]:
def data_split(data):
    train= data.copy()
    test = pd.DataFrame(columns=list(data.columns))
    testlen=int(0.2*len(data))
    for i in range(testlen):
        x=random.randint(-1, len(train)-1)
        test=test.append(train[x:x+1],ignore_index = True)
        train=train.drop(train.index[x])
        train=train.reset_index()
        del train['index']
    return (test,train)

In [190]:
def one_hot_encoding(data,col):
    
    new_cols=list(map(str,np.unique(col)))

    
    data1=pd.DataFrame(columns=new_cols)
    d=dict()
    for i in new_cols:
        d[i]=0
    for i in col:
        d[str(i)]=1
        data1=data1.append(d,ignore_index=True)
        d[str(i)]=0
    data=data.drop([col.name],axis=1)
    for i in range(len(new_cols)):
        new_cols[i]=col.name+new_cols[i]
    data1.columns=new_cols
    bigdata = data1.join(data)
    return bigdata

In [220]:
def knn(data,k,pt):
    x=data.values.tolist()
    x=np.array(x)
    print(x[0:5])
    pt=np.array(pt)
    for i in range(len(data)):
        x[i]=abs(x[i]-pt)
    for j in range(len(x)):
        x[j]=list(map(lambda x:float(x*x),x[j]))
    y=[]
    for i in range(len(x)):
        y[i]=sum(x[i])

In [226]:

data=pd.read_csv("Data/ImputedAndhraData.csv") 
test,train=data_split(data)
y_train=train.reslt
x_train=train.drop(["reslt"],axis=1)
y_test=test.reslt
x_test=test.drop(["reslt"],axis=1)

y_train

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    1
     ..
51    1
52    1
53    1
54    1
55    1
56    1
57    1
58    1
59    1
60    1
61    1
62    1
63    1
64    1
65    1
66    1
67    1
68    1
69    1
70    1
71    1
72    1
73    1
74    1
75    1
76    1
77    1
78    1
79    1
80    1
Name: reslt, Length: 81, dtype: int64

In [192]:
train=one_hot_encoding(train,train.community)
print(train.head(10))

  community1 community2 community3 community4  age  weight1  history   HB  \
0          1          0          0          0   21       42        1  9.2
1          1          0          0          0   21       42        1  8.8
2          1          0          0          0   21       30        1  9.2
3          1          0          0          0   21       38        1  8.0
4          1          0          0          0   24       33        1  9.3
5          1          0          0          0   26       35        1  9.2
6          0          0          0          1   26       31        1  9.6
7          1          0          0          0   22       30        1  8.9
8          0          0          0          1   17       30        1  9.0
9          0          0          1          0   35       40        1  9.9

   IFA       BP1  education  res  reslt
0    1  1.375000          5    1      0
1    1  1.500000          5    1      0
2    1  2.125000          5    1      0
3    1  1.375000          5    1      0
4    1  1.571000          5    1      0
5    1  1.571429          5    1      0
6    1  1.625000          5    1      0
7    1  1.571429          5    1      0
8    0  1.375000          5    1      0
9    1  1.571429          5    1      0

In [193]:

train=one_hot_encoding(train,train.res)  
print(train.head(10))

  res1 res2 community1 community2 community3 community4  age  weight1  \
0    1    0          1          0          0          0   21       42
1    1    0          1          0          0          0   21       42
2    1    0          1          0          0          0   21       30
3    1    0          1          0          0          0   21       38
4    1    0          1          0          0          0   24       33
5    1    0          1          0          0          0   26       35
6    1    0          0          0          0          1   26       31
7    1    0          1          0          0          0   22       30
8    1    0          0          0          0          1   17       30
9    1    0          0          0          1          0   35       40

   history   HB  IFA       BP1  education  reslt
0        1  9.2    1  1.375000          5      0
1        1  8.8    1  1.500000          5      0
2        1  9.2    1  2.125000          5      0
3        1  8.0    1  1.375000          5      0
4        1  9.3    1  1.571000          5      0
5        1  9.2    1  1.571429          5      0
6        1  9.6    1  1.625000          5      0
7        1  8.9    1  1.571429          5      0
8        1  9.0    0  1.375000          5      0
9        1  9.9    1  1.571429          5      0

In [221]:
pt=train[0:1].values.tolist()
pt=pt[0]
knn(train,2,pt)

[[ 1.     0.     1.     0.     0.     0.    21.    42.     1.     9.2
   1.     1.375  5.     0.   ]
 [ 1.     0.     1.     0.     0.     0.    21.    42.     1.     8.8
   1.     1.5    5.     0.   ]
 [ 1.     0.     1.     0.     0.     0.    21.    30.     1.     9.2
   1.     2.125  5.     0.   ]
 [ 1.     0.     1.     0.     0.     0.    21.    38.     1.     8.
   1.     1.375  5.     0.   ]
 [ 1.     0.     1.     0.     0.     0.    24.    33.     1.     9.3
   1.     1.571  5.     0.   ]]
[[0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00
  0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00
  0.0000e+00 0.0000e+00]
 [0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00
  0.0000e+00 0.0000e+00 0.0000e+00 1.6000e-01 0.0000e+00 1.5625e-02
  0.0000e+00 0.0000e+00]
 [0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00
  0.0000e+00 1.4400e+02 0.0000e+00 0.0000e+00 0.0000e+00 5.6250e-01
  0.0000e+00 0.0000e+00]
 [0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00
  0.0000e+00 1.6000e+01 0.0000e+00 1.4400e+00 0.0000e+00 0.0000e+00
  0.0000e+00 0.0000e+00]
 [0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00
  9.0000e+00 8.1000e+01 0.0000e+00 1.0000e-02 0.0000e+00 3.8416e-02
  0.0000e+00 0.0000e+00]]

In [215]:
x=[1,2,3,4]

list(map(lambda x:x*x,x))

[1, 4, 9, 16]

     1    2    3    4    0
0  NaN  NaN  NaN  NaN  1.0
1  NaN  NaN  NaN  NaN  1.0
2  NaN  NaN  NaN  NaN  1.0
3  NaN  NaN  NaN  NaN  1.0